/*
 * Copyright (c) 2018 Henrik Brix Andersen <henrik@brixandersen.dk>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <atmel/samd21.dtsi>

#include "feather_connector.dtsi"

/ {	
	model = "Adafruit Feather M0 Basic Proto";
	compatible = "adafruit,feather-m0-basic-proto", "atmel,samd21g18a",
			"atmel,samd21";

	chosen {
		zephyr,console = &sercom5;
		zephyr,shell-uart = &sercom5;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &code_partition;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		other = &other;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&porta 14 0>;
			label = "RED_LED";
		};
		led1: led_1 {
			gpios = <&porta 15 0>;
			label = "BLUE_LED";
		};
		led2: led_2 {
			gpios = <&porta 16 0>;
			label = "GREEN_LED";
		};
		
		other: other {
			gpios = <&porta 2 0>,
					<&porta 3 0>,
					<&porta 5 0>,
					<&porta 6 0>,
					<&porta 7 0>,
					<&porta 8 0>,
					<&porta 9 0>,
					<&porta 10 0>,
					<&porta 11 0>,
					<&portb 8 0>,
					<&portb 9 0>,
					
					<&porta 19 0>,
					<&porta 20 0>,
					<&porta 21 0>,
					
					<&porta 25 0>,
					<&porta 24 0>,

					<&portb 22 0>,
					<&portb 23 0>,
					<&porta 28 0>,
					<&portb 11 0>;


			label = "OTHER_GPIO";
		};
	};
};

&cpu0 {
	clock-frequency = <48000000>;
};

&sercom2 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;

	pinctrl-0 = <&pa13c_sercom2_pad1 &pa12c_sercom2_pad0>;
	
	sara_r4 {
		status = "okay";
		compatible = "u-blox,sara-r4";
		label = "ublox-sara-r4";

		mdm-power-gpios = <&porta 4 GPIO_ACTIVE_HIGH>;
		mdm-vint-gpios = <&portb 10 0>;
	};
};

&sercom3 {
	status = "okay";
	compatible = "atmel,sam0-i2c";
	clock-frequency = <I2C_BITRATE_FAST>;
	#address-cells = <1>;
	#size-cells = <0>;

	eva8m@42 {
		status = "okay";
		compatible = "u-blox,eva-8m";
		reg = <0x42>;
		label = "ublox-eva-8m";
		
		gps-power-gpios = <&porta 18 GPIO_ACTIVE_HIGH>;
	};
	
	/*lsm303dlhc-magn@1e {
		compatible = "st,lsm303dlhc-magn";
		reg = <0x1e>;
		label = "LSM303DLHC-MAGN";
	};

	lsm303dlhc-accel@19 {
		compatible = "st,lis2dh", "st,lsm303dlhc-accel";
		reg = <0x19>;
		irq-gpios = <&porta 20 GPIO_ACTIVE_HIGH>,
			  <&porta 21 GPIO_ACTIVE_HIGH>;
		label = "LSM303DLHC-ACCEL";
	};*/
};

&sercom4 {
	status = "okay";
	compatible = "atmel,sam0-spi";
	#address-cells = <1>;
	#size-cells = <0>;
	dipo = <0>;
	dopo = <1>;
};

&sercom5 {
	status = "okay";
	compatible = "atmel,sam0-uart";
	current-speed = <115200>;
	rxpo = <1>;
	txpo = <0>;

	pinctrl-0 = <&pb3d_sercom5_pad1 &pb2d_sercom5_pad0>;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "sam-ba";
			reg = <0x00000000 0x2000>;
			read-only;
		};

		code_partition: partition@2000 {
			label = "code";
			reg = <0x2000 0x3A000>;
			read-only;
		};

		/*
		 * The final 16 KiB is reserved for the application.
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};

&usb0 {
	status = "okay";
};
